/* You can add global styles to this file, and also import other style files */
.primary-container{
    background-color: aquamarine;
    width: 50%;
    margin: auto;
    min-height: 400px;
}

body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url(/assets/images/blockchain-network.png);
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
}

html {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}