<div class="primary-container">
    <h3>My projects</h3>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/lse-app.png" alt="LSE app image">
        </div>
        <div class="content">
            <p class="project-header">London Stock Exchange web scraper</p>
            <p>An application for scraping financial data for any size set of companies from the London Stock Exchange website. 
                The user is able to select from a list which financial metrics they are interested in retrieving.</p>
            <a href="https://github.com/HarryS028/LSE-financial-scraper"><img src="../../assets/images/github-icon.png" alt="Github logo"></a>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Electron</p>
            </div>
            <div class="chips">
                <p>Selenium</p>
                <p>HTML</p>
                <p>CSS</p>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/election-app.png" alt="Election DApp image">
        </div>
        <div class="content">
            <p class="project-header">Decentralized voting application</p>
            <p>A basic voting DApp and frontend application built on the Ethereum Virtual Machine. The DApp uses a smart contract to create candidates 
                while restricting voting to one per public address.</p>
            <a href="https://github.com/HarryS028/election_dapp"><img src="../../assets/images/github-icon.png" alt="Github logo"></a>
            <div class="chips">
                <p>Solidity</p>
                <p>HTML</p>
                <p>JavaScript</p>
                <p>web3.js</p>
            </div>
            <div class="chips">
                <p>CSS</p>
                <p>Ganache</p>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/ig-app-laptop.png" alt="IG app image">
        </div>
        <div class="content">
            <p class="project-header">IG historical financials API</p>
            <p>An application using the IG REST API for downloading historical price data for individual stocks and wider indices. 
                A counter is used to indicate when the weekly download limit is reached.</p>
            <a href="https://github.com/HarryS028/Stock-market-bot"><img src="../../assets/images/github-icon.png" alt="Github logo"></a>
            <div class="chips">
                <p>Python</p>
                <p>Electron</p>
                <p>Pandas</p>
                <p>REST</p>
            </div> 
            <div class="chips">
                <p>CSS</p>
                <p>HTML</p>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/portfolio-pic.png" alt="Portfolio website image">
        </div>
        <div class="content">
            <p class="project-header">Portfolio website</p>
            <p>The website you are currently viewing, for presenting my work and skills.</p>
            <a href="https://github.com/HarryS028/portfolio_website"><img src="../../assets/images/github-icon.png" alt="Github logo"></a>
            <a routerLink="/"><img src="../../assets/images/internet-icon.png" alt="Internet icon"></a>
            <div class="chips">
                <p>Angular</p>
                <p>JavaScript</p>
                <p>HTML</p>
                <p>CSS</p>
            </div>
            <div class="chips">
                <p>Node</p>
                <p>MongoDB</p>
                <p>Express</p>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/ccpg-comp.png" alt="PSP scraper image">
        </div>
        <div class="content">
            <p class="project-header">PSP contract web scraper</p>
            <p>A set of two Python scripts for scraping China’s CCGP website to get data on private sector participation contracts 
                in the water industry.</p>
            <a href="https://github.com/HarryS028/ccpg_project_scraper"><img src="../../assets/images/github-icon.png" alt="Github logo"></a>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Jupyter</p>
            </div>
        </div>
    </div>

</div>

