<div class="primary-container">
    <h3>My projects</h3>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>London Stock Exchange web scraper</p>
            <p>An application for scraping financial data for any size set of companies from the London Stock Exchange website. 
                The user is able to select from a list which financial metrics they are interested in retrieving.</p>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Kivy</p>
            </div>
            <div class="chips">
                <p>Selenium</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>Decentralized voting application</p>
            <p>A basic voting DApp and frontend application built on the Ethereum Virtual Machine. The DApp uses a smart contract to create candidates 
                while restricting voting to one per public address.</p>
            <div class="chips">
                <p>Solidity</p>
                <p>HTML</p>
                <p>JavaScript</p>
                <p>web3.js</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>IG historical financials API</p>
            <p>An application using the IG REST API for downloading historical price data for individual stocks and wider indices. 
                A counter is used to indicate when the weekly download limit is reached.</p>
            <div class="chips">
                <p>Python</p>
                <p>Kivy</p>
                <p>Pandas</p>
                <p>REST</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>Portfolio website</p>
            <p>The website you are currently viewing, for presenting my work and skills.</p>
            <div class="chips">
                <p>Angular</p>
                <p>JavaScript</p>
                <p>HTML</p>
                <p>CSS</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>PSP contract web scraper</p>
            <p>A set of two Python scripts for scraping China’s CCGP website to get data on private sector participation contracts 
                in the water industry.</p>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>

</div>

