.project {
    display: flex;
    margin-bottom: 10%;
    margin-top: 5%;
}

.image img {
    display: inline-block;
    height: auto;
    width: 400px;
}

.content {
    display: inline-block;
    width: 500px;
}

.image {
    margin-right: 5%;
    width: 40%;
}

.content img {
    width: 5%;
    margin-right: 2%;
}

.chips {
    display: flex;
}

.chips p {
    display: inline-block;
    margin-left: 5%;
    background-color: #9eadad;
    padding: 2%;
    border-radius: 20px;
}

.project-header{
    font-weight: bold;
}

@media screen and (max-width: 1500px){
    .project{
        flex-direction: column;
    }
}