<div class="desc">
    <img src="../../assets/images/blue-logo-round.png" alt="Harry Logo">
</div>
<div class="tag-line"> 
    <p>Hi I'm Harry, an aspiring software developer</p>
</div>
<div class="call-to-action">
    <a routerLink="/projects"><p>VIEW MY WORK</p></a>
    <a routerLink="/contact"><P>CONTACT ME</P></a>
</div>
<div id="link-block">
    <a href="https://github.com/HarryS028"><img src="../../assets/images/github-icon.png" alt="Github logo"></a>
    <a href="./../../assets/H_Shuttleworth_CV.pdf"><img src="../../assets/images/cv_icon2.png" alt="CV logo"></a>
</div>