<!DOCTYPE html>
  <html>
    <head>
      <script src="https://requirejs.org/docs/release/2.3.6/comments/require.js"></script>
      <link rel="stylesheet" type="text/css" href="app.component.css">
      <title>Harry Shuttleworth</title>
    </head>
    <body>

      <div class="logo">
        <a routerLink="/"><img src="../assets/images/blue-logo-round.png" alt="Harry Logo"></a>
      </div>

      <div class="nav-bar-2">
          <button routerLink="/">Home</button>
          <button routerLink="/about">About</button>
          <button routerLink="/projects">Projects</button>
          <button routerLink="/skills">Skills</button>
          <button routerLink="/contact">Contact</button>
      </div>

      <div>
        <router-outlet></router-outlet>
      </div>

      <div>

      </div>
    </body>

  </html>