<div class="primary-container">
    

    <div class="technical-header">
        <img src="../../assets/images/technical-icon.png" alt="Technical skills icon">
        <h1>Coding skills</h1>
        <p>I have become confident using the following technologies</p>
    </div>

    <div class="tech-skills-icons">
        <table>
            <tr>
                <th>
                    <img src="../../assets/images/blue-python-icon.png" alt="Python icon">
                    <p>Python</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-javascript-icon.png" alt="JavaScript icon">
                    <p>JavaScript</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-excel-icon.png" alt="Excel icon">
                    <p>Maple</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-html-icon.png" alt="HTML icon">
                    <p>HTML</p>
                </th>
            </tr>
            <tr>
                <th>
                    <img src="../../assets/images/blue-css-icon.png" alt="CSS icon">
                    <p>CSS</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-pandas-logo.png" alt="Pandas icon">
                    <p>Pandas</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-angular-icon.png" alt="Angular icon">
                    <p>Angular</p>
                </th>
                <th>
                    <img src="../../assets/images/github-icon.png" alt="GitHub icon">
                    <p>GitHub</p>
                </th>
            </tr>
        </table>
    </div>

    <div class="technical-header">
        <img src="../../assets/images/technical-icon.png" alt="Technical skills icon">
        <h1>Other skills</h1>
        <p></p>
    </div>

    <div class="other-skills-icons">
        <table>
            <tr>
                <th>
                    <img src="../../assets/images/blue-python-icon.png" alt="Python icon">
                    <p>Excel</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-javascript-icon.png" alt="JavaScript icon">
                    <p>Mathematics</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-excel-icon.png" alt="Excel icon">
                    <p>Blockchain</p>
                </th>
            </tr>
            <tr>
                <th>
                    <img src="../../assets/images/blue-css-icon.png" alt="CSS icon">
                    <p>Trello</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-pandas-logo.png" alt="Pandas icon">
                    <p>Management</p>
                </th>
                <th>
                    <img src="../../assets/images/blue-angular-icon.png" alt="Angular icon">
                    <p>Microsoft Office</p>
                </th>
            </tr>
        </table>
    </div>

</div>
