<div class="primary-container">
    <div>
        <h4>Technical skills</h4>
        <ul>
            <li><img src="../../assets/images/javascript-icon.png" class="icons" alt="JavaScript icon">JavaScript</li>
            <li><img src="../../assets/images/python-icon.png" class="icons" alt="Python icon">Python</li>
            <li><img src="../../assets/images/excel-icon.png" class="icons" alt="Excel icon">Excel</li>
        </ul>
    </div>
    <div>
        <h4>Soft skills</h4>

    </div>
    <div>
        <h4>Other skills</h4>

    </div>

</div>
