<div class="primary-container">
    <h3>About me</h3>
    <p>Hi, I’m Harry, a self-taught programmer and aspiring software developer, with a master’s degree in mathematics.
        <br> <br>
        Aside from using C to implement algorithms during my degree, my programming journey really began in 2019, 
        when I was inspired to learn Python to explore ideas in the field of machine learning. I quickly grew to love the language, 
        finding that I could also use it to create web scrapers to collect financial data for my hobby stock trading strategies. 
        <br> <br>
        It soon became apparent that these skills would also be useful to my employer, and after volunteering my skills to help colleagues,
        programming became part of my full-time role. I currently work as a finance & companies editor for a business intelligence company 
        covering the global water industry; my role now includes programming web scrapers and automating data collection.
        <br> <br>
        Currently I am looking to gain experience as a software developer, while building a foundation for a long-term programming career. 
        My areas of particular interest include blockchain, web, and AI development.
        <br> <br>
        To learn more about my work experience, skills, and personal projects check out my GitHub profile and CV.
    </p>
    <div id="link-block">
        <a href="https://github.com/HarryS028"><img src="../../assets/images/github-icon.png" alt="Github logo"></a>
        <a><img src="../../assets/images/cv_icon2.png" alt="CV logo"></a>
    </div>
</div>
