<div class="primary-container">
    <h3>About me</h3>
    <p>I am a self-taught programmer and mathematician looking to start a new career as a software developer. Development inspires me because it 
        allows me to explore and learn about new technologies, while producing applications of value that can be used by many.
        <br> <br>
        I have around 1 years’ experience as a programmer, predominantly coding in Python and JavaScript for a mix of personal and work-related projects. 
        In combination with a master’s degree in mathematics, which has provided me with a well-developed mind for analytical problem solving, I believe 
        I have the qualities necessary to excel as a programmer.
        <br> <br>
        Check out my projects and skills pages for more details!
        </p>
</div>
